body{
    color: black;
    background-color: rgb(248,248,255);
}
#pop-up{
    background-color: gold;
    height: 50vh;
    width: 50vw;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2%;
    display: none;
    visibility: hidden;
    position: fixed;
    box-shadow: 2px 5px;
}
#bookshelf{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 90%;
    width: 90%; 
    border: black solid 5px;
    background-color: #6A1616;
    min-width: 500px;
    min-height: 1000px;
}
.card{
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 15vw;
    padding: 1%;
    background-color: #D6CCA9;
    box-shadow: 2px 5px;
    border-radius: 3%;
    margin: 3%;
}